{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        '{% if request.user.is_authenticated %}'
        const userToken = '{{ request.user.auth_token.key }}'
        '{% endif %}'
    </script>

    <title>{% block title%} MY NOTES {% endblock %} </title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Start -->
        <aside>
            <div class="logo">
                <span class="material-icons-sharp">
                    notes
                </span>
                <h3>my notes</h3>
            </div>
            <hr>
            {% if request.user.is_authenticated %}
            <div class="sidebar">
                <a href="{% url 'home-page' %}">
                    <span class="material-icons-sharp">
                        home
                    </span>
                    <p>main page</p>
                </a>
                <a href="">
                    <span class="material-icons-sharp">
                        tasks
                    </span>
                    <p>tasks</p>
                </a>
            </div>
            <hr>
            <div class="category">
                <h4></h4>
                <a class="new-category" href="{% url 'new-label' %}">
                    <span class="material-icons-sharp">
                        add_circle
                    </span>
                    <p>add new label</p>
                </a>
                <button class="btn">labels</button>

                <div class="categories">
                    {% for label in labels %}
                    <a href="">{{label.name}} <span>{{label.count_notes}}</span></a>
                    {% endfor %}
                </div>
            </div>
            <a class="logout" href="{% url 'logout' %}">
                <span class="material-icons-sharp">
                    logout
                </span>
                <p>logout</p>
            </a>
            {% else %}
            <div class="sidebar">
                <a href="{% url 'login' %}">
                    <span class="material-icons-sharp">
                        home
                    </span>
                    <p>login</p>
                </a>
                <a href="{% url 'register' %}">
                    <span class="material-icons-sharp">
                        tasks
                    </span>
                    <p>register</p>
                </a>
            </div>
            {% endif %}

        </aside>
        <!-- Sidebar End -->
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>