{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
    <!-- Navbar Start -->
    <div class="navbar">
        <div class="new-note">
            <a href="{% url 'new-note' %}">
                NEW
                <span class="material-icons-sharp">
                    note
                </span>
            </a>
        </div>
        <div class="notes-number">{{notes_len}} Notes</div>
    </div>
    <!-- Navbar End -->
    <div class="form-container" id="notes">
        <form id="note-form" method="post" style="width: 100%;">
            {% csrf_token %}
            <div class="head">
                <div>
                    {{form.title.label}}
                    {{form.title}}
                </div>
                <div>
                    {{form.label.label}}
                    {{form.label}}
                </div>
                <div>
                    {{form.remind.label}}
                    {{form.remind}}
                </div>
                <input type="submit" value="Save" class="form-element submit">
            </div>
            {{form.content}}
        </form>
    </div>
</div>

<script src="{% static 'js/create-new-note.js' %}"></script>
{% endblock %}