{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
    <div class="form-container" id="notes">
        <form id="note-form" method="post" style="width: 100%;">
            {% csrf_token %}
            <div class="head">
                <div>
                    {{form.name.label}}
                    {{form.name}}
                </div>
                <input type="submit" value="Save" class="form-element submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}