{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
    <!-- Navbar Start -->
    <div class="navbar">
        <div class="new-note">
            <a href="{% url 'new-note' %}">
                NEW
                <span class="material-icons-sharp">
                    note
                </span>
            </a>
        </div>
        <form method="get" id="search-form">
            <input type="text" placeholder="Search Notes..." name="search" id="search-input">
            <button type="submit">
                <span class="material-icons-sharp">
                    search
                </span>
            </button>
        </form>
        <div class="notes-number">{{notes_len}} Notes</div>
    </div>
    <!-- Navbar End -->
    <!-- Notes Container Start -->
    <div class="notes" id="notes">
    </div>
    <!-- Notes Container End -->
</div>
<script src="{% static 'js/all-notes-api.js' %}"></script>
{% endblock %}