{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
    <div class="form-container" id="notes">
        <form id="new-note" method="post" style="width: 100%;">
            {% csrf_token %}
            <div class="head">
                <div>
                    {{form.title.label}}
                    {{form.title}}
                </div>
                <div>
                    {{form.label.label}}
                    {{form.label}}
                </div>
                <div>
                    {{form.remind.label}}
                    {{form.remind}}
                </div>
                <input type="submit" value="Save" class="form-element submit">
            </div>
            {{form.content}}
        </form>
    </div>
</div>

<script>
    const id = `{{ id }}`
</script>
<script src="{% static 'js/note.js' %}"></script>
{% endblock %}